@use "sass:color";

html {
  scroll-behavior: smooth;
}

.tah-icon > .fas,
.tah-icon > .fa-solid {
  font-size: 125%;
  line-height: 1.2;
  margin-left: -4px;
}

.tah-action-button.superior {
  $backColor: color.scale(gold, $lightness: -50%);
  $shadowColor: color.scale(gold, $lightness: -80%);
  background-color: $backColor;
  box-shadow:
    0 2px 0 -1px $shadowColor,
    0 0 0 1px $shadowColor,
    0 0 5px $shadowColor;
}

.tah-action-button.spell {
  $backColor: color.scale(red, $lightness: -70%);
  $shadowColor: color.scale(red, $lightness: -90%);
  background-color: $backColor;
  box-shadow:
    0 2px 0 -1px $shadowColor,
    0 0 0 1px $shadowColor,
    0 0 5px $shadowColor;
}
